.accordions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 64px 0;
  @include media-laptop {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px 0;
  }
  @include media-mobile {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
.accordions-item {
  grid-column: span 2;
  max-width: 480px;
  padding-right: 30px;
  @include media-laptop {
    grid-column: unset;
    max-width: 410px;
  }
  @include media-mobile {
    max-width: unset;
    padding-right: 0;
  }
  &:nth-child(4n - 1) {
    grid-column: 2/4;
    @include media-laptop {
      grid-column: unset;
    }
  }
  &__head {
    position: relative;
    padding: 16px 0 0;
    font-size: 18px;
    line-height: 32px;
    font-family: inherit;
    text-align: left;
    color: $black;
    background: none;
    border: 0;
    transition: $transition;
    cursor: pointer;
    @include media-laptop {
      padding-top: 12px;
      font-size: 15px;
      line-height: 22px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 2px;
      background: currentcolor;
      transition: $transition;
      @include media-laptop {
        width: 100px;
      }
    }
    @include media-hover {
      color: $blue;
    }
  }
  &__body {
    display: none;
    animation: fade-in 0.3s linear;
    &.active {
      display: block;
    }
  }
  &__main {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-top: 10px;
  }
  &__close {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    padding: 7px 8px;
    color: $white;
    background: rgb(23 28 40 / 0.6);
    border: 0;
    border-radius: 7px;
    transition: $transition;
    cursor: pointer;
    @include media-hover {
      background: rgb(23 28 40 / 0.8);
    }
  }
}
