mixin accordions(mods)
  -
    const baseName = 'accordions'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .accordions(class=allMods)&attributes(attributes)
    block

mixin accordions-item(head, mods)
  -
    const baseName = 'accordions-item'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .accordions-item(class=allMods)&attributes(attributes)
    button.accordions-item__head !{head}
    .accordions-item__body
      .accordions-item__main
        button.accordions-item__close
          +svg('icon_arrow_up')
        .accordions-item__content
          block
