.section {
  &__bg-img {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.05);
    }
  }
  &:not(:first-child) {
    margin-top: 140px;
    @include media-laptop {
      margin-top: 127px;
    }
    @include media-mobile {
      margin-top: 65px;
    }
  }
  &--mt-l {
    &:not(:first-child) {
      margin-top: 148px;
      @include media-laptop {
        margin-top: 100px;
      }
      @include media-mobile {
        margin-top: 70px;
      }
    }
  }
  &--mt-s {
    &:not(:first-child) {
      margin-top: 125px;
      @include media-laptop {
        margin-top: 86px;
      }
      @include media-mobile {
        margin-top: 56px;
      }
    }
  }
  &--mt-xs {
    &:not(:first-child) {
      margin-top: 115px;
      @include media-laptop {
        margin-top: 96px;
      }
      @include media-mobile {
        margin-top: 65px;
      }
    }
  }
  &--mt-xxs {
    &:not(:first-child) {
      margin-top: 100px;
      @include media-laptop {
        margin-top: 85px;
      }
      @include media-mobile {
        margin-top: 50px;
      }
    }
  }
  &--mt-xxxs {
    &:not(:first-child) {
      margin-top: 90px;
      @include media-laptop {
        margin-top: 65px;
      }
      @include media-mobile {
        margin-top: 40px;
      }
    }
  }
  &--mt0 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }
  &--pt-s {
    padding-top: 125px;
    @include media-laptop {
      padding-top: 86px;
    }
    @include media-mobile {
      padding-top: 56px;
    }
  }
  &--main {
    position: relative;
    z-index: 20;
    padding-bottom: 140px;
    background: #f6f7fc;
    @include media-laptop {
      padding-bottom: 130px;
    }
    @include media-mobile {
      padding-bottom: 50px;
    }
  }
  &--under-bg {
    &:not(:first-child) {
      margin-top: -284px;
      @include media-laptop {
        margin-top: -170px;
      }
      @include media-mobile {
        margin-top: -10px;
      }
    }
  }
  &--bg {
    padding: 125px 0 430px;
    background: $black;
    @include media-laptop {
      padding: 60px 0 240px;
    }
    @include media-mobile {
      padding: 50px 0 80px;
    }
  }
  &--bg-start {
    position: relative;
    padding: 188px 0 185px;
    @include media-laptop {
      padding: 165px 0 95px;
      padding-bottom: 95px;
    }
    @include media-mobile {
      padding: 104px 0 65px;
    }
  }
}
