mixin page-grid(mods)
  -
    const baseName = 'page-grid'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .page-grid(class=allMods)&attributes(attributes)
    .inner
      span
      span
      span
      span
      span
      span
    block
