mixin advantages(data, mods)
  -
    const baseName = 'advantages'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .advantages(class=allMods class=data.class)&attributes(attributes)
    each item in data.items
      .advantages__item(class=item.mods)
        if item.title
          +ui-h5(item.title, 'advantages')
        +ui-p1(item.descr, 'advantages, --semibold')
    block
