mixin best-office(mods)
  -
    const baseName = 'best-office'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .best-office(class=allMods)&attributes(attributes)
    .best-office__logo
      +svg('logo_best_office')
    +ui-p1('Наши проекты номинированы на&nbsp;престижную премию Best Office Awards&nbsp;2016', 'best-office, --semibold').ui-grey
    block
