.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  padding: 25px;
  background: rgba(220 227 244 / 0.8);
  backdrop-filter: blur(5px);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  @include media-mobile {
    padding: 0;
  }
  &__wrapper {
    position: relative;
    transform: translateX(20%);
    width: 100%;
    max-width: 724px;
    margin: auto;
    color: $white;
    background: $black;
    border-radius: 10px;
    box-shadow: 0 60px 100px 0 rgb(0 8 28 / 0.6);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    @include media-laptop {
      max-width: 664px;
    }
    @include media-mobile {
      transform: translateY(20%);
      max-width: 100%;
      margin-bottom: 0;
      padding-top: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__content {
    padding: 58px 71px;
    @include media-laptop {
      padding: 40px;
    }
    @include media-mobile {
      max-height: 50vh;
      padding: 12px 20px 35px;
      overflow-y: auto;
    }
  }
  &__close {
    position: absolute;
    top: -24px;
    right: 0;
    width: 50px;
    height: 38px;
    padding: 13px 13px 0;
    background: $black;
    border-radius: 50px 50px 0 0;
    @include media-mobile {
      top: -38px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
    &-button {
      width: 24px;
      height: 24px;
      margin: auto;
      padding: 8px;
      color: $white;
      background: $error;
      border: 0;
      border-radius: 50%;
      transition: $transition;
      cursor: pointer;
      @include media-hover {
        background: #ff5a5a;
      }
    }
  }
  &--content-pd-xs {
    .popup__content {
      padding: 30px 30px 35px;
      @include media-laptop {
        padding: 20px 20px 30px;
      }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    .popup__wrapper {
      transform: translate(0);
    }
  }
}
.popup-foot {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 38px;
  @include media-laptop {
    margin-top: 30px;
  }
  @include media-mobile {
    justify-content: space-between;
  }
  &__logo {
    width: 112px;
    height: 35px;
    color: $grey;
    @include media-mobile {
      display: none;
    }
  }
  &__email {
    margin: 0 auto;
    @include media-mobile {
      margin: 0;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.popup-video {
  iframe {
    width: 100%;
    height: auto;
    min-height: 416px;
    border-radius: 7px;
    @include media-laptop {
      min-height: 390px;
    }
  }
}
